<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="WeatherStream" class="org.geoserver.wfas.wps.WeatherStream" ></bean>
	<bean id="LandscapeExport" class="org.geoserver.wfas.wps.LandscapeExport" ></bean>
	<bean id="GeotifPPIO" class="org.geoserver.wps.ppio.GeoTifPPIO" ></bean>
</beans>
